html, body {
  padding: 0;
  margin: 0;
  height: '100%';
  width: '100%';
  overflow-x: hidden;
  background-color: #F4F9F9;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif, 'Gowun Batang', serif, 'Crimson Text', serif 'Ephesis', cursive;
  ;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  /* Hide scrollbars */
}

::-webkit-scrollbar {
  display: 'none';
  width: 0;
  /* Remove scrollbar space */
  background: transparent;
  /* Optional: just make scrollbar invisible */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@media only screen and (max-width: 300px) {
  html {
    font-size: 70%;
  }
}